* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-geist-pixel-square), system-ui, sans-serif;
  height: 100%;
}

body {
  background-color: #3b3a3a;
  min-height: 100vh;
  padding: 1.5%;
}

code,
pre,
kbd,
samp {
  font-family: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, monospace;
}
