@import 'tailwindcss';

@layer base {
  * {
    margin: 0;
    box-sizing: border-box;
  }

  html,
  body {
    font-family: var(--font-geist-sans), system-ui, sans-serif;
    height: 100%;
  }

  body {
    /* background-color: #3b3a3a; */
    min-height: 100vh;
  }

  code,
  pre,
  kbd,
  samp {
    font-family: ui-monospace, SFMono-Regular, Menlo, monospace;
  }
}
