.leafletCanvas {
  width: 100%;
  height: 100%;
  border-radius: 42px;
  overflow: hidden;
}

.mapShell {
  position: relative;
  width: 100%;
  height: 100%;
}

.mapShell :global(.leaflet-bottom.leaflet-left .leaflet-control-attribution) {
  margin-bottom: -50px;
}
